{% extends "gaia-x-document-template/mkdocs_base.yml.j2" %}
{% block site_name %}Gaia-X Architecture Document{% endblock %}

{% block nav %}
nav:
 - README.md
 - overview.md
 - conceptual_model.md
 - operating_model.md
 - federation_service.md
 - usecase.md
 - ecosystem.md
 - glossary.md
 - changelog.md
 - reference.md
 - appendix.md
{% endblock %}
